[core]
	editor = nvim
	autocrlf = false
[user]
	name = AndreasBrostrom
	email = andreas.brostrom.ce@gmail.com
[alias]
	root = rev-parse --show-toplevel
	checkout-pr = "!bash github_checkout_pr"
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[pull]
	rebase = true