[core]
	editor = nvim
	autocrlf = false
	sshCommand = ssh -i ~/.ssh/andre_id_rsa
[user]
	name = AndreasBrostrom
	email = andreas.brostrom.ce@gmail.com
[alias]
	root = rev-parse --show-toplevel
	ccl = rev-parse --verify HEAD
	ccs = rev-parse --short HEAD
	checkout-pr = "!bash github_checkout_pr"
	squash = "!bash git reset $(git merge-base main $(git branch --show-current))"
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[pull]
	rebase = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
